<div ng-controller="UsersCtrl">
    <h1>{{naslov}}</h1>
	<button ng-click="goToAdd()">Add</button>
    <table>
        <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        <tr ng-repeat="u in users">
            <td>{{u.email}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.lastname}}</td>
            <td><button ng-click="goToEdit(u.id)">Edit</button></td>
            <td><button ng-click="doDelete(u.id)">Delete</button></td>
        </tr>
    </table>
</div>