<!DOCTYPE html>
<html ng-app="wafepaApp">

<head>
    <meta charset="UTF-8">
    <title>WAFEPA</title>

    <script src="/assets/js/angular.js"></script>
    <script src="/app/js/main.js"></script>
</head>

<body>
    <div ng-controller="MyController">
        <input type="text" ng-model="polje1" ng-change="kontrolisiDugme()" />
        <br>
        <button ng-disabled="disableDugme" ng-click="prazniPolje()" type="button">Prazni polje</button>
        <br>
        <div ng-controller="MyControllerDrugi">
            <input type="text" ng-model="polje1">
        </div>
    </div>
</body>

</html>